/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
:root{
  --brand-accent: #051F20;
  --brand-highlight: #00FF17;
  --brand-font: 'Cabin';
  --brand-light: #fff;
}
a{
  text-decoration: none;
  color: var(--brand-highlight);
}
a:hover,
a:focus,
a:visited{
  color: #fff;
}
html {
  color: var(--brand-accent);
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--brand-font);
  
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: var(--brand-highlight);
  text-shadow: none;
}

::selection {
  background: var(--brand-highlight);
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--brand-accent);;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
   .pos-relative{
    position: relative;
  }
  .pos-abs{
    position: absolute;
  }
.no-margins{
 margin: 0;
}
.side-margins{
 margin: 0 1rem;
}
.height-margins{
 margin: 1rem 0;
}
.margin-bottom{
 margin-bottom: 1rem;
}
.margin-top{
 margin-top: 1rem;
}
.margin-left{
 margin-left: 1rem;
}
.margin-right{
 margin-right: 1rem;
}
.large-title{
 font-size: 9.5rem;
}
/*
* Hide visually and from screen readers
*/

.hidden,
[hidden] {
 display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
 border: 0;
 clip: rect(0, 0, 0, 0);
 height: 1px;
 margin: -1px;
 overflow: hidden;
 padding: 0;
 position: absolute;
 white-space: nowrap;
 width: 1px;
 /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
 clip: auto;
 height: auto;
 margin: 0;
 overflow: visible;
 position: static;
 white-space: inherit;
 width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
 visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix::before,
.clearfix::after {
 content: " ";
 display: table;
}

.clearfix::after {
 clear: both;
}
.text-light{
 color: #fff;
}
.text-upper{
 text-transform: uppercase;
}
.text-right{
  text-align: right;
}
.attention-get{
 font-size: 4.5rem;
}
.headline{
 font-size: 2.25rem;
}
.subheadline{
 font-size: 2rem;
}
.btn{
 padding: .7rem 3rem;
 text-transform: uppercase;
 display: inline-block;
}
.btn-ghost{
 border-width: 4px;
 border-style: solid;
 border-color: var(--brand-highlight);
 transition: all 0.3s ease-out;
}
.btn-ghost:hover,
.btn-ghost:focus,
.btn-ghost:visited{
 border-color: #fff;
}
.btn-rounded{
 border-radius: 10px;
}
.btn-extra{
 position: relative;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.page-section{
  display: -ms-grid;
  display: grid;
  background: var(--brand-accent);
  color: var(--brand-light);
  grid-gap: 1rem;
  -ms-grid-columns: ([col-start] 1fr)[12];
  grid-template-columns: repeat(12, [col-start] 1fr);
  -ms-grid-rows: ([row-start] 1fr)[12];  
  grid-template-rows: repeat(12, [row-start] 1fr);
  grid-template-rows: auto;

}
.banner{
  height: 100vh;

  background: url( '../img/Web Developer workstation_2.jpg' ) no-repeat;
  background-size: cover;
  overflow: hidden;
}
.banner .group{
  -ms-grid-column: 8;
  -ms-grid-column-span: 4;
  grid-column: 8/12;
-ms-grid-row: 6;
-ms-grid-row-span: 4;
grid-row: 6;
}
.banner .notice{
  -ms-grid-column: 10;
  grid-column: 10;
-ms-grid-row: 10;
grid-row: 10;
text-align: left;
-webkit-transform-origin: bottom right;
-ms-transform-origin: bottom right;
    transform-origin: bottom right;
-webkit-transform: rotate(90deg);
-ms-transform: rotate(90deg);
transform: rotate(90deg);
}
.banner .notice:before,
.banner-button:after{
  content: "";
  height: 1px;
  width: 100vw;
  display: block;
  position: absolute;
  background: #fff;
  left: 120%;
}
.banner-button:after{
  transform: translateY(-50%);
  top: 50%;
}
.banner .notice:before{
  -webkit-transform: rotate(-90deg);
     -ms-transform: rotate(-90deg);
         transform: rotate(-90deg);
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
            top: -1.4rem;
            left: 0;
}
.background-clip-text{
  font-size: 15vw;
  line-height: 1;
  margin: 0;
  top: 0;
  left: 0;
  text-transform: uppercase;
  z-index: 1;
  font-weight: 700;
  opacity: .3;
}
.left-panel,
.right-panel{
  z-index: 2;
  background: var(--brand-accent);
  padding: 20px;
}
.panel-title{
  margin: 0;
  text-transform: uppercase;
  line-height: 1;
}
.left-panel{
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;

}
.right-panel{
  -ms-grid-column: 7;
  -ms-grid-column-span: 4;
  grid-column: 7/11;
  -ms-grid-row: 2;
  grid-row: 2;
}
.skills-list{
  list-style: none;
  padding: 0;
}
.skill-points{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 100%;
}
.skill-grade{
  margin: 0 5px;
  height: 15px;
  border-radius: 5px;
  width: 45px;
  border: 3px solid var(--brand-highlight);
  display: inline-block;
  transform: skewX(-35deg);
}
.info-box{
  position: relative;
  z-index: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 5;
  grid-column: 4/9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.info-box:nth-child(even){
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.info-box-image img{
  max-width: 100%;
}
.info-box-image,
.info-box-text-content{
  width: 50%;
}
.info-box-text-content{
  margin: 0 -100px;
  padding: 20px;
  background: var(--brand-accent);
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

